{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "printWidth": 80,
    "bracketSpacing": true,
    "endOfLine": "lf"
}