@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&family=Lexend:wght@100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Science+Gothic:wght@100..900&family=VT323&display=swap');
@import "tailwindcss";

.suse-mono{
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

*{
  font-family: "SUSE Mono", sans-serif;
}
