@import "tailwindcss";

* {
  font-family: monospace;
  font-size: 15px;
  /* overflow-x: hidden; */
}
body {
  background-color: black;
  color: rgb(107, 209, 11);
}

.cursor-block {
  display: inline-block;
  width: 0.5ch;
  height: 1em;
  background-color: white;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
